.section {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 0;
}

.input {
  font-family: "Cabin", "sans-serif";
  margin-top: 0.5rem;
  background-color: white;
  border: 1px solid rgb(58, 58, 58);
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  height: 32px;
  padding-left: 5px;
}

.warning {
  border: 1.5px solid red;
}
