.green {
  background-color: rgb(54, 247, 134);
  border: none;
  padding: 1.2rem 2.1rem;
  border-radius: 8px;
  color: white;
  font-size: 1.3rem;
  margin: 1.5rem 0;
}

.green:hover,
.green:active {
  background-color: rgb(15, 180, 84);
  cursor: pointer;
}

.grey {
  background-color: white;
}

.transparent {
  background: transparent;
  font-size: 1.2rem;
  padding: 30px;
  border: none;
  cursor: pointer;
  color: white;
}

.transparent:hover,
.transparent:active {
  color: #ccc;
}
